<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add additional CSS styles if needed -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>All Books</title>
</head>
<body class="container mt-4">

<h2>All Books</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publication Date</th>
        <th>Number of Copies</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.publicationDate}"></td>
        <td th:text="${book.numberOfCopies}"></td>
        <td th:text="${book.category?.name}"></td>
        <td>
            <a th:href="@{/books/{bookId}(bookId=${book.id})}" class="btn btn-info btn-sm">Details</a>
            <a th:href="@{/reservations/create(bookId=${book.id})}" class="btn btn-success btn-sm">Reserve</a>

        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/books/add}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new book</a>
<!-- Bootstrap JS and other scripts if needed -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
