<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add additional CSS styles if needed -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container mt-4">
    <h2>Category Details</h2>
    <p>ID: <span th:text="${category.id}"></span></p>
    <p>Name: <span th:text="${category.name}"></span></p>
    <a th:href="@{/categories/all}" class="btn btn-secondary">Back to List</a>
</div>
<!-- Bootstrap JS and other scripts if needed -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
